GlobalRedPyme/GlobalRedPyme/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_acciones/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_acciones/migrations/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_autenticacion/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_autenticacion/migrations/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_catalogo/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_catalogo/migrations/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_correosLanding/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_correosLanding/migrations/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_facturas/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_facturas/migrations/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_infoUsuarios/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_infoUsuarios/migrations/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_logs/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_logs/migrations/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_productos/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_productos/migrations/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_publicaciones/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_publicaciones/migrations/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_roles/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_roles/migrations/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_tipoUsuarios/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_tipoUsuarios/migrations/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_usuarios/__pycache__/
GlobalRedPyme/apps/CENTRAL/central_usuarios/migrations/__pycache__/
GlobalRedPyme/apps/CORE/core_monedas/__pycache__/
GlobalRedPyme/apps/CORE/core_monedas/migrations/__pycache__/
GlobalRedPyme/apps/PERSONAS/personas_historialLaboral/__pycache__/
GlobalRedPyme/apps/PERSONAS/personas_historialLaboral/migrations/__pycache__/
GlobalRedPyme/apps/PERSONAS/personas_personas/__pycache__/
GlobalRedPyme/apps/PERSONAS/personas_personas/migrations/__pycache__/
GlobalRedPyme/apps/PERSONAS/personas_rucPersonas/__pycache__/
GlobalRedPyme/apps/PERSONAS/personas_rucPersonas/migrations/__pycache__/
GlobalRedPyme/apps/CORP/corp_empresas/__pycache__/
GlobalRedPyme/apps/CORP/corp_empresas/migrations/__pycache__/
GlobalRedPyme/apps/CORP/corp_cobrarSupermonedas/__pycache__/
GlobalRedPyme/apps/CORP/corp_cobrarSupermonedas/migrations/__pycache__/
GlobalRedPyme/apps/CORP/corp_monedasEmpresa/__pycache__/
GlobalRedPyme/apps/CORP/corp_envios/migrations/__pycache__/
GlobalRedPyme/apps/CORP/corp_envios/__pycache__/
GlobalRedPyme/apps/CORP/corp_monedasEmpresa/migrations/__pycache__/
GlobalRedPyme/apps/CORP/corp_autorizaciones/__pycache__/
GlobalRedPyme/apps/CORP/corp_autorizaciones/migrations/__pycache__/
GlobalRedPyme/apps/CORP/corp_movimientoCobros/__pycache__/
GlobalRedPyme/apps/CORP/corp_movimientoCobros/migrations/__pycache__/
GlobalRedPyme/apps/CORP/corp_pagos/__pycache__/
GlobalRedPyme/apps/CORP/corp_pagos/migrations/__pycache__/
GlobalRedPyme/apps/CORP/corp_creditoPersonas/__pycache__/
GlobalRedPyme/apps/CORP/corp_creditoPersonas/migrations/__pycache__/
GlobalRedPyme/apps/CORP/corp_creditoPreaprobados/__pycache__/
GlobalRedPyme/apps/CORP/corp_creditoPreaprobados/migrations/__pycache__/
GlobalRedPyme/apps/CORP/corp_notasPedidos/__pycache__/
GlobalRedPyme/apps/CORP/corp_notasPedidos/migrations/__pycache__/
GlobalRedPyme/apps/CORP/corp_creditoArchivos/__pycache__/
GlobalRedPyme/apps/CORP/corp_creditoArchivos/migrations/__pycache__/
GlobalRedPyme/apps/CORP/corp_firmaElectronica/__pycache__/
GlobalRedPyme/apps/CORP/corp_firmaElectronica/migrations/__pycache__/
GlobalRedPyme/apps/CORP/corp_pagoProveedores/__pycache__/
GlobalRedPyme/apps/CORP/corp_pagoProveedores/migrations/__pycache__/
GlobalRedPyme/apps/CORP/corp_pagoEmpleados/__pycache__/
GlobalRedPyme/apps/CORP/corp_pagoEmpleados/migrations/__pycache__/
GlobalRedPyme/apps/MDM/mdm_clientes/__pycache__/
GlobalRedPyme/apps/MDM/mdm_clientes/migrations/__pycache__/
GlobalRedPyme/apps/MDM/mdm_clientes/views/__pycache__/
GlobalRedPyme/apps/MDM/mdm_facturas/__pycache__/
GlobalRedPyme/apps/MDM/mdm_facturas/migrations/__pycache__/
GlobalRedPyme/apps/MDM/mdm_negocios/__pycache__/
GlobalRedPyme/apps/MDM/mdm_negocios/migrations/__pycache__/
GlobalRedPyme/apps/MDM/mdm_negocios/views/__pycache__/
GlobalRedPyme/apps/MDM/mdm_prospectosClientes/__pycache__/
GlobalRedPyme/apps/MDM/mdm_prospectosClientes/migrations/__pycache__/
GlobalRedPyme/apps/MDO/mdo_generarOferta/__pycache__/
GlobalRedPyme/apps/MDO/mdo_generarOferta/migrations/__pycache__/
GlobalRedPyme/apps/MDO/mdo_prediccionCrosseling/__pycache__/
GlobalRedPyme/apps/MDO/mdo_prediccionCrosseling/migrations/__pycache__/
GlobalRedPyme/apps/MDO/mdo_prediccionProductosNuevos/__pycache__/
GlobalRedPyme/apps/MDO/mdo_prediccionProductosNuevos/migrations/__pycache__/
GlobalRedPyme/apps/MDO/mdo_prediccionRefil/__pycache__/
GlobalRedPyme/apps/MDO/mdo_prediccionRefil/migrations/__pycache__/
GlobalRedPyme/apps/MDP/mdp_categorias/__pycache__/
GlobalRedPyme/apps/MDP/mdp_categorias/migrations/__pycache__/
GlobalRedPyme/apps/MDP/mdp_fichaTecnicaProductos/__pycache__/
GlobalRedPyme/apps/MDP/mdp_fichaTecnicaProductos/migrations/__pycache__/
GlobalRedPyme/apps/MDP/mdp_productos/__pycache__/
GlobalRedPyme/apps/MDP/mdp_productos/migrations/__pycache__/
GlobalRedPyme/apps/MDP/mdp_subCategorias/__pycache__/
GlobalRedPyme/apps/MDP/mdp_subCategorias/migrations/__pycache__/
GlobalRedPyme/apps/GDO/gdo_parametrizaciones/__pycache__/
GlobalRedPyme/apps/GDO/gdo_parametrizaciones/migrations/__pycache__/
GlobalRedPyme/apps/GDO/gdo_gestionOferta/__pycache__/
GlobalRedPyme/apps/GDO/gdo_gestionOferta/migrations/__pycache__/
GlobalRedPyme/apps/GDE/gde_parametrizaciones/__pycache__/
GlobalRedPyme/apps/GDE/gde_parametrizaciones/migrations/__pycache__/
GlobalRedPyme/apps/GDE/gde_gestionEntrega/__pycache__/
GlobalRedPyme/apps/GDE/gde_gestionEntrega/migrations/__pycache__/
GlobalRedPyme/apps/config/__pycache__/
/GlobalRedPyme/GlobalRedPyme/.env
/GlobalRedPyme/GlobalRedPyme/.env.example
.env
.idea
/GlobalRedPyme/apps/blob
/GlobalRedPyme/temp_file.pdf
/GlobalRedPyme/example-with-barcode.pdf
/GlobalRedPyme/flipped_image.png
/GlobalRedPyme/flipped_text_image.png
/GlobalRedPyme/imagen_con_texto.png
/GlobalRedPyme/output.png
